
body {
    font-family: Arial, sans-serif;
    margin: 2em;
    background-color: #f2f2f2;
    position: relative;
    overflow-x: hidden;
}

h1 {
    color: #333;
    margin-right: 10px;
}

label, select {
    margin-bottom: 1em;
    display: inline-block;
}

ul {
    list-style-type: none;
    padding: 0;
}

li {
    background: white;
    margin: 0.5em 0;
    padding: 1em;
    border-radius: 5px;
    box-shadow: 0 0 5px rgba(0,0,0,0.1);
}

/* Pikachu vpravo nahoře */
.pikachu-right {
    position: absolute;
    top: 10px;
    right: 10px;
    width: 80px;
    z-index: 10;
    animation: run-side 2s linear infinite alternate;
}

@keyframes run-side {
    0% { transform: translateX(0); }
    100% { transform: translateX(-10px); }
}
